<!DOCTYPE html>
<html ng-app>
    <head>
        <title>Recipe Builder</title>
        <head>
            <link rel='stylesheet' type='text/css' href='style/recipe.css'>
            <script src="scripts/vendor/jquery.min.js"></script>
            <script src="scripts/vendor/angular.min.js"></script>
            <script src="scripts/controller.js"></script>
        </head>
    </head>
    <body>
        <h1>Char Siu Pork Roast</h1>
        <div ng-controller='RecipeController'>
            <h2>Ingredients</h2>
            <ol>
                <li ng-repeat='ingredient in ingredients'>
                    <span>{{ingredient.name}}</span> &ndash;
                    <span>{{ingredient.amount}}</span>
                </li>
            </ol>

            <h2>Steps</h2>
            <ol>
                <li ng-repeat='step in steps'>
                    <span>{{step}}</span>
                </li>
        </div>
    </body>
</html>
